@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --baseColor: #121d55;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.navBar {
  background-color: var(--baseColor);
  height: 60px;
  width: 100%;
}

.standups {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* height: 10rem; */
  margin: 0 auto;
  padding: 60px 40px;
  width: 50rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
