@import "tailwindcss";
@plugin "daisyui";

:root {
  --baseColor: #262836;
}


.navBar {
  background-color: var(--baseColor);
  display: flex;
  gap: 2px;
  /* overflow: hidden; */
}

.searchBox {
  background-color: aliceblue;
  /* gap: 5px; */
  height: auto;
  /* justify: center; */
  margin: 9px; 
}

.standups {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* height: 10rem; */
  margin: 0 auto;
  padding: 60px 40px;
  width: 50rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
